Formatting and displaying Pandas tables
----

In this notebook, we illustrate a few basic things about formatting 
Pandas tables and rendering them for display.  

More details can be found [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.io.formats.style.Styler.html).

In [1]:
import pandas

# Build a data frame with simple data
a = pandas.Series([100.12,2,3])
df = pandas.DataFrame({'a' : a,'b' : [4113214.5678334,-4.567,6], 
    'c' : ['yes','no','yes']})

# Construct dictionary for labeling columns in display
di = {'a' : 'A (J/K*kg)', 'b' : 'B (N/m^2)', 'c' : 'Valid run?'}

First, we create a styling object based on the DataFrame style.   We also convert the column headers to the longer form for output purposes.

In [2]:
pr = df.rename(columns=di).style

Then, we set some simple properties such as precision.  Note that *precision* means total number digits to display, not number of digits after the decimal place.

In [ ]:
pr.set_precision(4)

To have more control over the formatting, we can format columns individually using C=style format strings.  

**Note** : The field width parameter in the format string does not seem to have any affect so we will change column widths using a different approach.

In [3]:
fstr = {di["a"] : '{:.5f}'.format, di["b"]:'{:.2e}'.format, 
    di['c'] : str.capitalize}    # width has no affect
pr.format(fstr)

We can highlight minimum and maxium quantites in the table, and change column width.

In [4]:
pr.highlight_min(axis=None,color='yellow')
pr.highlight_max(axis=None,color='red')

pr.set_properties(subset=[di["a"]],width='90px')     # Set width here
pr.set_properties(subset=[di["b"]],width='120px')

Exporting to HTML and Latex
----

We can export these tables to HTML or Latex with the following commands.  As with the tables above, formatting strings can be added.  But the 'formatters' keyword requires one-parameter functions, so we include the `.format` to produce a function that returns the formatted numeric data.

In [ ]:
fstr = {di['a'] : "{:.4f}".format, di['b'] :'{:.2e}'.format, 
    di['c'] : str.capitalize}    
df_html = df.rename(columns=di).to_html(formatters=fstr,justify='right')
print(df_html)

Similarly, we can get Latex output.   We include `\num` in the format string so that we can use the `siunitx` latex package for providing the formatting.

In [ ]:
fstr = {di['a'] : "\\num({})".format, di['b'] :'\\num({})'.format, 
    di['c'] : str.capitalize}  
df_latex = df.rename(columns=di).to_latex(formatters=fstr,escape=False)
print(df_latex)